.header{
	position:relative;
	 
}
.mypage_div{
	text-align: center;
}

.mypage_head{
	   
    font-size: 35px;
    color: tomato;
}
.mypage_head h4{
	font-size:30;
}
.nav-menu{
	    padding-top: 5%;
}
.book_table{
	width: 80%;
    margin-left: 10%;
    border-top: 1px solid salmon;
    font-family:'NanumSquareRound';
    border-collapse:collapse;
    text-align:center;
}
.book_table th{
	 border-bottom: 2px solid salmon;
	 padding-top:8px;
	 padding-bottom:8px;
}
.book_table td{
	padding-top:8px;
	 padding-bottom:8px;
	 border-bottom: 1px solid salmon;
}
@media(max-width:450px){
	.book_table{
	   font-size: 10;
	   width:100%;
	   margin-left:0;
	   padding: 5;
	   font-size: 10;
	}
	button{
	    padding: 2px;
	    font-size: 10;
	}
	
}