<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.comment.CommentMapper">
<insert id="commentinsert">
	insert into comment(parent_seq,writer,content) values(#{parent_seq},#{writer},#{content})
</insert>
<select id="commentlist" resultType="CommentVO">
	select * from comment where parent_seq=#{parent_seq}
</select>

</mapper>