<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.comment.CommentMapper">
<insert id="commentinsert">
	insert into comment(parent_seq,writer,content) values(#{parent_seq},#{writer},#{content})
</insert>
<select id="commentlist" resultType="CommentVO">
	select * from comment where parent_seq=#{parent_seq}
</select>
<update id="commentupdate">
	update comment set content=#{content},reg_date=now(),modified="Y" where comment_seq=${comment_seq}
</update>
<select id="commentselect" resultType="CommentVO">
	select * from comment where comment_seq=${comment_seq}
</select>
<delete id="commentdelete">
	delete from comment where comment_seq=${comment_seq}
</delete>
</mapper>